**/*.pyc
**/*.pyo
**/*.tags
.hg*
**/*.venv
**/*.directory
celerybeat-schedule
sysinfo.json
static/build/cache.json
static/build/**/*.js
postactivate.sh
shell_athenas_load.py
/.vscode
__pycache__
celerybeat-schedule.db
requirements.md5
requirements.dev
src
Pipfile
Pipfile.lock
**/*.DS_Store
**/*pylintrc
registers_finished.list
migration_dayoff.log
/venv